.highlight {
    padding: 21px 92px;
    border-radius: 24px;
    background-color: var(--white);
    text-align: center;
    

    &__title {
        font-size: 40px;
        font-weight: 500;
        line-height: 47px;
        margin-bottom: 5px;
    }

    &__description {
        font-size: 20px;
        line-height: 23px;
    }
}