:root {
  /*
   === Colors ===
   */
   --white: #FFFFFF;
   --black: #000000;
   --yellow: #FCE300;
   --orange: #FF5F00;
   --black-secondary: #201B10;
   --white-secondary: #F3F4F4;
   --purple-1: #FCE2FF;  
   --purple-2: #EACDFF;
   --purple-3: #CB81FF;
   --purple-4: #8F64AE;  
   --gray-1: #787878;
   --gray-2: #C0C0C0;
   --green-1: #2AE881;
   --green-2: #D4FAE6;

   --overlay: rgba(6,6,6,0.3);
   
   /*
      === Layers ===
   */
  --z-over: 1;
  --z-under: -1;
  --z-second-over: 2;

   /*
      === Transitions ===
   */
  --trans-fast: 0.3s ease;
  --trans-medium: 0.4s ease-in-out;
}
