@use '@/shared/styles/variables' as *;

.button {
  outline: none;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 35px;
  font-weight: 500;
  line-height: 110%;
  padding: 20px 27px;
  border-radius: 25px;
  transition: opacity var(--trans-fast);

  &:hover {
    opacity: 0.7;
  }

  &:disabled {
    background-color: var(--gray-2);
    color: var(--gray-1);
    opacity: 1;
  }
}

.green {
  background-color: var(--green-1);
}

.yellow {
  background-color: var(--yellow);
}

.black, .black-icon {
  background-color: var(--black-2);
  color: var(--white);
}

.white, .white-icon {
  background-color: var(--white);
}

.black-icon, .white-icon {
  padding: 26px;
  line-height: 0;
  font-size: 0;
}
